<div class="panel panel-default">
  <div class="panel-body">
    <div id='map' class='map large'></div>
  </div>
  <ul class="list-group">
      <li class="list-group-item">
        <div data-alerts="alerts"></div>
        <%= simple_form_for gist do |f| %>
        <%= f.input :content, as: :text, label: 'Enter GeoJSON', input_html: { rows: 10 } %>
       </li>
       <li class="list-group-item">
        <%= f.input :description, as: :bootsy, input_html: { rows: 5 }, editor_options: { alert_unsaved: false } %>
      </li>
    </ul>
    <div class="panel-footer">
        <%= f.button :submit, class: 'btn-success' %>
        <% end %>
        <%= link_to 'Back', gists_path, class: 'btn btn-default' %>
    </div>
</div>
<script>
$( document ).ready(function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoibGV2ZW50aGFuIiwiYSI6IjNYYi1uMnMifQ.uQvHEvixml-zaHJZhb_WNQ';
    var mapOptions = {
        attributionControl: {compact: true}
    }
    var map = L.mapbox.map('map', 'mapbox.streets', mapOptions)
        .setView([40, -74.50], 2);

    $("#gist_content").on('focusout',function(event){
        renderGeoJSON(map, event.target.value)
        successMessage();
    });
    renderGeoJSON(map, $("#gist_content").val());

    // Helpers
    function renderGeoJSON(map, geojson){
        if(!geojson){
            return;
        }

        try {
            var geojson = $.parseJSON(geojson);
        } catch (error) {
            errorMessage(error);
        }

        // Load and fit valid geoJSON
        var featureLayer =  L.mapbox.featureLayer()
            .setGeoJSON(geojson)
            .addTo(map);
        map.fitBounds(featureLayer.getBounds());
    }

    function successMessage(){
        $(document).trigger("clear-alerts");
        $(document).trigger("add-alerts", {
          message: "GeoJSON loaded succesfully!",
          priority: "success"
        });
    }

    function errorMessage(err){
        $(document).trigger("add-alerts", {
          message: "Invalid GeoJSON! " + err,
          priority: "error"
        });
    }
});
</script>