<div class="panel panel-default">
    <div class="panel-body">
        <div id="map-<%= gist.hex %>" class='map large'></div>
    </div>
    <ul class="list-group">
        <% if gist.description? %>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <%= gist.description.html_safe %>
        </li>
        <% end %>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Last Updated <%= gist.updated_at.strftime('%d %B %Y') %>
        </li>
    </ul>
    <div class="panel-footer">
        <%= link_to gist_path(gist.hex), class: 'btn btn-success' do %><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Gist <% end %>
        <%= link_to edit_gist_path(gist.hex), class: 'btn btn-default' do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit<% end %>
    </div>
</div>