<p id="notice"><%= notice %></p>

<h1>Listing Gists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td><%= link_to 'Show', gist %></td>
        <td><%= link_to 'Edit', edit_gist_path(gist) %></td>
        <td><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gist', new_gist_path %>
